<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>Home | AgriConnect</title>
	</head>

	<body>
		<h1>AgriConnect</h1>
		<h2>Centralized agriculture platform</h2>

		<a href="/farmer-login">Farmer Login</a>
		<br />
		<a href="/corporate-login">Corporate Login</a>
		<br />
		<a href="/vendor-login">Vendor Login</a>
		<br />

		<a href="/lang">🌐 Change language</a>
	</body>
</html>
