<!DOCTYPE html>
<html lang="kn">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>ಸೂಚ್ಯಂಕ | ಅಗ್ರಿಕನೆಕ್ಟ್</title>
	</head>

	<body>
		<h1>ಅಗ್ರಿಕನೆಕ್ಟ್</h1>
		<h2>ಕೇಂದ್ರೀಕೃತ ಕೃಷಿ ವೇದಿಕೆ</h2>

		<a href="/farmer-login">ರೈತರ ಲಾಗಿನ್</a>
		<br />
		<a href="/corporate-login">ಕಾರ್ಪೊರೇಟ್ ಲಾಗಿನ್</a>
		<br />
		<a href="/vendor-login">ಮಾರಾಟಗಾರರ ಲಾಗಿನ್</a>
		<br />

		<a href="/lang">🌐 ಭಾಷೆಯನ್ನು ಬದಲಾಯಿಸಿ</a>
	</body>
</html>
