<!DOCTYPE html>
<html lang="hi">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>अनुक्रमणिका | एग्रीकनेक्ट</title>
	</head>

	<body>
		<h1>एग्रीकनेक्ट</h1>
		<h2>केंद्रीकृत कृषि मंच</h2>

		<a href="/farmer-login">किसान लॉगिन</a>
		<br />
		<a href="/corporate-login">कॉर्पोरेट लॉगिन</a>
		<br />
		<a href="/vendor-login">विक्रेता लॉगिन</a>
		<br />

		<a href="/lang">🌐 भाषा बदलें</a>
	</body>
</html>
