<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>Language Select</title>
	</head>

	<body>
		<h1>
			Language Select | <span lang="hi">भाषा चयन</span> |
			<span lang="kn">ಭಾಷೆ ಆಯ್ಕೆ</span>
		</h1>

		<a href="/lang?lang=en&redirect={{redirect}}">English</a>
		<br />
		<a href="/lang?lang=hi&redirect={{redirect}}" lang="hi"
			>हिंदी</a
		>
		<br />
		<a href="/lang?lang=kn&redirect={{redirect}}" lang="kn"
			>ಕನ್ನಡ</a
		>
	</body>
</html>
