<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>ಸರ್ವರ್‌ನಿಂದ ಸಂದೇಶ | ಅಗ್ರಿಕನೆಕ್ಟ್</title>
	</head>

	<body>
		<h1>ಸರ್ವರ್‌ನಿಂದ ಸಂದೇಶ</h1>
		<p>{{ message }}</p>
		<a href="javascript:history.back();">ಹಿಂತಿರುಗಿ</a>
	</body>
</html>
