<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>Server Message | AgriConnect</title>
	</head>

	<body>
		<h1>Server Message</h1>
		<p>{{ message }}</p>
		<a href="javascript:history.back();">Go back</a>
	</body>
</html>
