<!DOCTYPE html>
<html lang="hi">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0"
		/>
		<link rel="stylesheet" href="styles.css" />

		<title>सर्वर से संदेश | एग्रीकनेक्ट</title>
	</head>

	<body>
		<h1>सर्वर से संदेश</h1>
		<p>{{ message }}</p>
		<a href="javascript:history.back();">वापस जाओ</a>
	</body>
</html>
